<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Requested FOr Asset</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>

  <body
    style="
      background: #fffafa;
      background: linear-gradient(to left, #ffffff, #fffafa);
      background: -webkit-linear-gradient(to left, #ffffff, #ffffff);
    "
  >
    <div style="display: block; text-align: center; background-color: #ffffff;border: 0.5px solid #ddd">
      <h1 style="text-align: center; font-size: 1.4em; color: #000000;font-style: italic">
        Requested Asset Detail's
      </h1>
      <table style="color: #333; border-radius: 0.4em; overflow: hidden; align-items: center; align-content: center;margin-left: auto;margin-right: auto;width:100%">
        <thead>
          <tr style="background-color: #428bca; border-color: #bfbfbf;font-weight:bold">
            <th style="border: 1px solid #ddd; padding: 4px">Asset Name</th>
            <th style="border: 1px solid #ddd; padding: 4px">Serial Number</th>
            <th style="border: 1px solid #ddd; padding: 4px">Model</th>
            <th style="border: 1px solid #ddd; padding: 4px">Company</th>
            <th style="border: 1px solid #ddd; padding: 4px">
              Requested Asset
            </th>
          </tr>
        </thead>
        <tbody style="background-color: #ffffff; border-color: #bfbfbf">
          <tr style="background-color: #f5f9fc; border-color: #bfbfbf">
            <td style="border: 1px solid #ddd; padding: 4px; color: #000000">
              {{asset_name}}
            </td>
            <td style="border: 1px solid #ddd; padding: 4px; color: #000000">
              {{serial_number}}
            </td>
            <td style="border: 1px solid #ddd; padding: 4px; color: #000000">
              {{model}}
            </td>
            <td style="border: 1px solid #ddd; padding: 4px; color: #000000">
              {{company}}
            </td>
            <td style="border: 1px solid #ddd; padding: 4px; color: #000000">
              <img src="{{image_url}}" width="50" height="50" />
            </td>
          </tr>
        </tbody>
      </table>
      <br/>
      <h2 style="text-align: center; font-size: 1.0em; color: #0000ee;font-style: italic"><a href="http://localhost:3000/">Login your Account........</a></h2>
    </div>

    <script src="" async defer></script>
  </body>
</html>
